@import '../../global_colors/colors.css';

.header {
  position: fixed;
  justify-content: space-between;
  display: flex;
  align-items: center;
  background-color: var(--color-primary);
  height: 56px;
  width: 100%;
  z-index: 2000;
  padding: 0 2rem;
}

.sidebar {
  position: fixed;
  background-color: var(--color-primary);
  height: 100%;
  width: 240px;
  z-index: 1500;
}

.content {
  background-color: var(--color-secondary-light);
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1000;
}
